body {
    font-family: 'Montserrat', sans-serif;
}

.logo { text-align: left;
    margin-left: 20px;
    width: 30px;
    height: 30px;

}

.back {
    position: absolute;
    margin-left: 50px;
    margin-top: 200px;
    border-radius: 100%;
    border: none;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #182c36;
    text-align: center;
}
#img1{
    margin-left: 100px;
    width: 20%;
}

#img2{
    height: 300px;
    width: 300px;
    margin-left: 100px;
}

#b1{
    margin-left: 250px;
    text-align: center;
}
#b2{
margin-left: 450px;
text-align: center;
}

.img  {
    margin-top: 10%;
  text-align: center;
}

.href {color: white;}

button {
    background:#182c36;
    opacity: 70%;
    width: 80px;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    margin-left: 6em;
    border: none;
    border-radius: 5000px;
    font-family: Montserrat, sans-serif;
}